.addExercise{
  display: none;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  transition: all 0.5s ease;

}

.ventanaActiva{
  display: block !important; 
}

.imagenEjercicio{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.clickAddEjercicio{
  margin: auto;
  margin-top: 20px !important;
}

.listaScroleableEjs::-webkit-scrollbar{
  width: auto !important;
  scrollbar-width: 10px !important;
}

.containerInfoEjercicio{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}