a.btn {
  margin-top: 10%;
}

.nombreRutina:active {
  box-shadow: #fb465a 0px 0px 0px 2px !important;
  color: white;
}

.nombreRutina {
  margin-left: 3%;
}

label#nombre {
  margin-top: 3%;
}

.fa-heart-o {
  color: #fb465a;
  cursor: pointer;
}

.fa-heart {
  color: #fb465a;
  cursor: pointer;
}

.corazonaco > i {
  font-size: 2em;
  margin-left: 20px;
  margin-top: 10px;
}

.nombreRutina:active,
.nombreRutina:focus {
  border: none;
  box-shadow: 2px 3px 1px 2px #fb465a !important;
}

.clickAddDia {
  margin: auto !important;
}

.diaRutina {
  width: max-content !important;
  background-color: #fb465a;
  padding: 30px;
}

.diaRutina a:hover {
  color: white !important;
}

#listaDias {
  padding: 0;
  margin: 0;
}

.diaName {
  margin: 0;
}

.botonDiaLista {
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.botonDiaLista:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#listaDias {
  width: 100%;
}

.clickDeleteDia {
  margin: none !important;
}
a#volver {
  margin-left: auto;
}
