.nav {
    background-color: rgb(227, 215, 215);
    background-color: #fb465a;
    border: none ;
}
.nav-tabs {
    --bs-nav-tabs-link-hover-border-color: none;
}


li  a {
    color: black !important;
}