input.barra {
  outline: none;
  box-sizing: border-box;
  height: 60px;
  width: 0px;
  padding: 0 20px;
  border-radius: 40px;
  font-size: 20px;
  border: 1px solid #fb465a;
  transition: all 0.7s ease;
}

.btn#search {
  background: #fb465a;
  transition: 0.5s;
  margin-left: 2%;
}

.btn i {
  font-size: 20px;
  color: white;
  line-height: 40px;
  transition: all 0.7s ease;
  height: auto;
}

.container:hover input.barra {
  width: 350px;
}

.container:hover i {
  transform: rotate(-360deg);
}

li#add {
  margin-top: 1%;
}

.titleWorkout{
  text-align: center;
  color: white !important;
  background-color: #fb465a;
  padding: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

.rutinaClikcable {
  transition: all 0.3s ease-in-out;
}

.rutinaClikcable:hover{
  cursor: pointer;
  transform: scale(1.05) rotate3d(1, 1, 1, -5deg);
}